@model AspNetMvc.StartFromScratch.Models.Blog
<div class="blogpost primary_wide2">
    <img class="left" src="@Url.Content("~/Content/Images/hot.png")" width="250" height="250" alt="" />
    <h2>@this.Model.Title</h2>
    <h3>Posted on @this.Model.CreateOn by @this.Model.User.Name</h3>
    <p>
        @this.Model.Description
    </p>
    <p class="meta">
        <span class="comments"><a id="ajaxComment" href="@Url.Action("Comments", "Blog", new { Id = this.Model.Id })">
            @MvcApplication.CurrentEntities.BlogComments.Count(x=>x.BlogId== this.Model.Id) Comments</a></span> &nbsp; 

        <span class="readmore"><a href="@Url.Action("Article", "Blog", new { Id = this.Model.Id })"> View Post</a></span>
    </p>
    <div id="ajaxCommentPanel" style="position: absolute; display: none; border: 1px solid black;
        background-color: White; width:400px">
    </div>
</div>
